<html>
  <head>
    <title>Todo App</title>
    <style>
        .hidden {
            display: none;
        }
        ul {
        list-style: none;
        padding:0;
        margin: 0;
        }
    </style>
  </head>
  <body>
    <form id="form">
        <input type="text" id="description" name="description" />
        <input type="submit" value="create" />
    </form>
    <div id="error" class="hidden">Something went wrong!</div>
    <ul id="todos">
      {% for d in data %}
      <li> <input type = "checkbox" { % if d.completed %} checked {% endif %} /> {{d.description }}</li>
      {% endfor %}
    </ul>
  </body>
</html>